node_modules/
public/
/dist/
htmlcov/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

local_settings.py
db.sqlite3

.coverage
.coveragerc

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env

*.log
npm-debug.log*
